@import 'tailwindcss';

@layer components {
  .color-ct {
      background-color: --alpha(var(--color-blue-300) / 50%);
      color: var(--color-blue-200);
  }

  .color-terrorist {
      background-color: --alpha(var(--color-amber-200) / 50%);
      color: var(--color-amber-200);
  }
}